{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "amd": true
    },
    "globals": {
        "define": true,
        "webix": true,
        "$$": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "extends": "./node_modules/eslint-xbsoftware/2__single_quotes_and_spaces/.eslintrc",
    "rules": {
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "no-extra-parens": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "valid-jsdoc": "warn",
        "import/no-amd": 0
    }
}