.webix_layout_toolbar.webix_toolbar.form-bottom-bar{
	background: #34495E;
}

.center{
	text-align: center;
}

.app-left-panel .webix_menu .webix_list_item.spacer:hover{
	background: transparent;
	cursor:default;
}

// custom
.webix_ss_filter span{
    position:absolute;
    top:13px;
    right:5px;
    color:#666;
}
.webix_ss_filter input{
    position:relative;
  padding-right:25px;
}
.webix_ss_filter{
    position:relative;
}
.sample_footer, .webix_ss_vscroll_footer{
    background-color: #D2E3EF;
}
.webix_ss_vscroll_footer {
    border-left: 1px solid #ebebeb;
}